*{
    box-sizing: border-box;

    margin: 0;

    padding: 0;

    outline: 0;
}

body{

    margin: 0px;

    padding: 0px;

}

main{
    height: calc(100vh - 12.5rem);
}


.pink-header{
    display: flex;

    flex-direction: row;

    align-items: center;

    background-color: rgba(253, 40, 206, 0.28);

    padding: 20px;

    margin-top: 0px;

    background-image: url('fi-ss-following.png');

    background-position: left center;

    background-size: auto 80%;

    background-repeat: no-repeat;

    

}

.pink-header div input{

    width: 100%;

    padding: 1rem;

    border: 0;

    background-color: rgb(235, 235, 235);


}

.pink-header div{
    display: flex;

    align-items: center;

    justify-content: center;

}

.retangulo-cabecalho{

    width: 80%;

    height: 70px;

    background-color: rgb(235, 235, 235); 

    margin-left: 5rem;

    display: flex;
     
}

.link{

    color: black;

    text-decoration: none;


    font-size: 30px;

    width: 20%;


}


.conteudo {

    display: flex;

    justify-content: center;

    align-items: center;

}

/* imagens do centro*/ 

.quadro {

    flex: 1 0 33%; 

    padding: 10px; 

    box-sizing: border-box; 

}



.quadro img {
    
    max-width: 100%; 

    height: fit-content;

}



.pink-footer {
    display: flex;

    background-color: rgba(253, 40, 206, 0.28);

    padding: 20px;
    

}


.left-images {

    display: flex;

}



.left-images img {

    margin-right: 10px; 

    width: 50px; 

    height: auto;

    border: none; 

}

.ret1{
    height: 400px;
    
    width: 300px;

    background-color: rgb(235, 235, 235);

    display: flex;
    
    align-items: center;
    
    justify-content: center;
}

.img1{
    height: 320px;

    width: 215px;
    
}

.ret2{
    height: 400px;

    width: 902px;

    background-color: rgb(235, 235, 235)

}

.ret2 textarea{
    width: 56rem;

    height: 21rem;

    margin-top: 2rem;

    margin-left -3.7rem;

    font-size: 1rem;

    font-family:'Times New Roman', Times, serif;
    
    background-color: rgb(235, 235, 235);

    border: 0;

}

.ret3 textarea{
    width: 50rem;

    background-color: rgb(235, 235, 235);

    border: 0;


}


.cima{
    margin-top: 30px;

    display: flex;

    align-items: center;

    justify-content: space-around;
}

.resenha{
    margin-top: 15px;

    margin-left: 15px;
}

.ret3{
    height: 200px;

    width: 1550px;

    background-color: rgb(235, 235, 235);
}

.ret2 input{
    background-color: rgb(235, 235, 235);

    border: 0;
}

.ret3 input{
    background-color: rgb(235, 235, 235);

    border: 0;
}

.baixo{
    display: flex;

    align-items: center;

    justify-content: space-around;

    margin-top: 40px;
}

.dados{
    margin-top: 15px;

    margin-left: 15px;
}