*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}

body{

    margin: 0px;

    padding: 0px;

}

main{
    height: calc(100vh - 12.5rem);
}

.pink-header{
    display: flex;

    background-color: rgba(253, 40, 206, 0.28);

    padding: 20px;

    margin-top: 0px;

    background-image: url('fi-ss-following.png');

    background-position: left center;

    background-size: auto 80%;

    background-repeat: no-repeat;

    

}

.left-image img{

    width: 54px;

    height: 51px;

    margin-left: 30px;

    display: flex;

    align-items: center;

    position: relative;

}

.retangulo-cabecalho{

    width: 798px;

    height: 58px;width: 1325px;

    height: 70px

    background-color: rgb(235, 235, 235); 

    position: absolute;

    top: 20px;

    margin-left: 200px;

}

.link{

    color: black;

    text-decoration: none;

    margin-left: 1800px;

    font-size: 30px;

    

}

.quadro img {

    max-width: 100%; 

    height: fit-content; 

}



.pink-footer {
    display: flex;

    background-color: rgba(253, 40, 206, 0.28);

    padding: 20px;

}
       